<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gonzo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Gonzo.Properties.Settings>
            <setting name="MaliciousBSSID" serializeAs="String">
                <value>fa:8f:ca:5b:39:6d</value>
            </setting>
            <setting name="PingSiteList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>www.google.co.uk</string>                        
                        <string>www.google.com</string>
                        <string>www.dave.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PingBody" serializeAs="String">
                <value>20d6fdd0-746a-4196-940a-c18291fe881a</value>
            </setting>
            <setting name="PingTimeout" serializeAs="String">
                <value>00:00:15</value>
            </setting>
        </Gonzo.Properties.Settings>
    </userSettings>
</configuration>